@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  max-height: 100vh;
  
}

.overflow{
  /* overflow-y: auto !important; */
  height: 100vh;
    overflow: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}